//--------------------------------------------------------------
//                       Menu Styles
//--------------------------------------------------------------
nav {
  display: inline-block;
}

.sf-menu {
  display: inline-block;
  font: 400 12px/18px $default-font;
  text-transform: none;
  text-align: left;
  @include clearfix;
  > li {
    position: relative;
    float: left;
    padding-left: 25px;
    &:before {
      position: absolute;
      content: '';
      width: 20px;
      height: 18px;
      left: 0;
      top: 0;
    }
    @for $i from 0 through 5 {
      &:nth-child(#{$i}n) {
        &:before {
          background: url("../images/nav-sprite.png") calc(#{$i - 1} * (-20px)) 0 no-repeat;
          background-size: cover;
        }
      }
    }
    & ~ li {
      margin-left: 15px;
    }
  }
  a {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    span {
      border-bottom: 1px dashed;
      @include transition(0.4s ease all);
    }
    &:hover {
      span {
        border-bottom: 1px dashed transparent;
      }
    }
  }
}

//--------------------------------------------------------------
//                     Menu item styles
//--------------------------------------------------------------
.sf-menu {
  > li {
    > a {
      color: $white;
      text-decoration: none;
      @include transition(0.3s ease);
    }
    &:last-child {
      > a {
        color: $danger-color;
        font-weight: 700;
      }
    }

    &.sfHover > a, > a:hover, &.active > a {
      color: $primary;
    }

  }
}

//--------------------------------------------------------------
//                   Sub menu lvl1 styles
//--------------------------------------------------------------
.sf-menu ul {
  display: none;
  position: absolute;
  top: 100%;
  width: 190px;
  margin-top: 11px;
  padding: 20px;
  background: $default;
  z-index: 101;
  @include box-sizing(border-box);
}

//--------------------------------------------------------------
//                 Sub menu lvl1 item styles
//--------------------------------------------------------------
.sf-menu ul {
  > li {
    > a {
      font: 400 12px/18px $default-font;
      color: $white;
      text-decoration: none;
      @include transition(0.3s ease);
    }

    &.sfHover > a, > a:hover, &.active > a {
      color: $primary;
    }
    & + li {
      margin-top: 10px;
    }
  }
}

//--------------------------------------------------------------
//                   Sub menu lvl2 styles
//--------------------------------------------------------------
.sf-menu ul ul {
  width: 168px;
  margin-top: 3px;
  z-index: 4;
  top: 22px;
  left: 192px;
  padding: 5px 15px;
  position: static;
}

//--------------------------------------------------------------
//                 Sub menu lvl2 item styles
//--------------------------------------------------------------
.sf-menu ul ul {
  > li {
    background: none;
    > a {
      @include transition(0.3s ease);
    }

    &.sfHover > a, > a:hover {
      background: none;
    }
  }
}

//--------------------------------------------------------------
//                      sf-with-ul styles
//--------------------------------------------------------------
.sf-menu > li > .sf-with-ul {
  position: relative;

  &:after {
    content: "";
    position: relative;
    display: inline-block;
    text-decoration: none;
    margin-left: 5px;
    top: 50%;
    @include transform(translateY(-50%));
    @include triangle(bottom, 6px, 3px, $white);
  }
}

//--------------------------------------------------------------
//                        Responsive
//--------------------------------------------------------------
@media (max-width: 991px) {
  .mmenu {
    position: absolute;
    cursor: pointer;
    outline: none;
    left: 20px;
    width: 25px;
    height: 20px;
    z-index: 198;
    background: url("../images/mmenu.png") no-repeat center center;
  }
  .mmenu-overlay_full {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: rgba(50, 50, 50, 0.5);
    z-index: 197;
  }
  .mmenu-overlay_full-nonscroll {
    overflow: hidden;
  }
  .sf-menu {
    float: right;
    position: fixed;
    overflow: auto;
    width: 250px;
    height: 100%;
    top: 44px;
    left: -250px;
    z-index: 198;
    background: rgba($header-bg, 0.85);
    @include clearfix();
    @include transition(0.4s ease all);
    &.opened {
      left: 0;
    }
    > li {
      &:before {
        display: none;
      }
      width: 100%;
      text-align: left;
      box-sizing: border-box;
      padding: 10px 10px;
      a {
        border: none;
      }
      &:first-child {
        margin-top: 10px;
      }
      & + li {
        margin-left: 0;
      }
    }
  }
  .sf-menu ul {
    display: block !important;
    position: relative;
    background: transparent;
    padding: 0 0 0 20px;
    width: 100%;
    li {
      opacity: 1 !important;
    }
  }
  .sf-menu ul ul {
    width: 100%;
    padding: 5px 0 0 20px;
  }
  .sf-with-ul:before,
  .sf-with-ul:after {
    display: none;
  }
}